@namespace WiredBrainCoffeeClient.Components

<div>
    <h2>Contact Details</h2>
    <p>
        1234 Wired Brain Blvd
        <br>Awesome City, MM 55555
        <br>
    </p>
    <p>
        <span title="Phone">Phone</span>: (555) 456-7890<br />
        <span title="Hours">Hours</span>: Monday - Friday: 6:00 AM to 9:00 PM
    </p>
    <img style="width: 100%" src="images/placeholder.png" />
</div>

@code {

}
