@namespace WiredBrainCoffeeClient.Components
<div>
    <h2 class="mailing-header">Keep in Touch</h2>
    <p class="mailing-subheader">Sign up for our mailing list - no spam, we promise.</p>
    <form asp-page-handler="Subscribe">
        <div class="control-group form-group">
            <input name="address" type="text" class="form-control" placeholder="Email" />
        </div>
        <div class="control-group form-group">
            <input type="submit" class="btn btn-success" value="Join" />
        </div>
    </form>
</div>


@code {

}
