@namespace WiredBrainCoffee.Admin

@page "/admin"

@inject NavigationManager NavManager

<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <AdminNav />
                <br />
                <br />
            </div>
            <div class="col-md-9">
                <Orders />
            </div>
        </div>
    </div>
</div>
