@page "/contact-confirmation"
@inject NavigationManager NavManager
<div class="page-wrapper">
    <div class="container">
        <h2>Thank you!</h2>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <p>A customer service rep will respond to you shortly. We try our best to get back to you within 24 hours.</p>
            </div>
            <div>
                <img style="width: 100%" src="images/placeholder.png" />
            </div>
        </div>
    </div>
</div>
@code {
}
