@page "/order-confirmation"
@using WiredBrainCoffee.Models

<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Thank you!</h2>
                <p>Your order will be ready soon. You can pick up your items at one of our convenient caffeine stations.</p>
                <p>Interested in faster ordering? Be sure to download our app for all the very best service.</p>
            </div>
            <div>
                <img style="width: 100%" src="images/placeholder.png" />
            </div>
        </div>
    </div>
</div>
